### Importing Required Libraries

In [19]:
import numpy as np
import pandas as pd

### Loading Athlete Event Dataset into DataFrame

In [20]:
events = pd.read_csv("./Datasets/athlete_events.csv")
events.tail(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

### Shape of Athlete Event Dataset

In [21]:
rows = events.shape[0]
cols = events.shape[1]

print(f"The above Athlete Event dataset has \033[1m {rows} rows\033[0m and \033[1m{cols} columns \033[0m.")

The above Athlete Event dataset has  271116 rows and 15 columns .

### Loading NOC Regions Dataset into DataFrame

In [22]:
regions = pd.read_csv("./Datasets/noc_regions.csv")
regions.tail(2)

     NOC    region notes
228  ZAM    Zambia   NaN
229  ZIM  Zimbabwe   NaN

### Shape of Athlete Event Dataset

In [23]:
rows = regions.shape[0]
cols = regions.shape[1]

print(f"The above NOC Regions dataset has \033[1m {rows} rows\033[0m and \033[1m{cols} columns \033[0m.")

The above NOC Regions dataset has  230 rows and 3 columns .

In [27]:
summer_events = events[events['Season'] == 'Summer']
summer_events.shape

(222552, 15)

In [29]:
main_events =  summer_events.merge(regions, on="NOC", how="left")
main_events.tail(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN